@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family:
        Inter,
        "Segoe UI",
        sans-serif;
    background: var(--bg-app);
    color: var(--text-primary);
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-strong);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}